{% extends "base.html" %}

{% block content %}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 pt-3">
            <div class="card mb-3">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/josswe/image/upload/v1648250349/code_buddy/about_img_d1oupj.jpg"
                    alt="Friends sitting and working on the stairs">
                <div class="card-body">

                    <h3 class="card-title text-center">About</h3>

                    <p class="card-text">
                        <span class="logo">code buddy</span> is a question and answer platform created for
                        developers to share their knowledge and ideas, as well as collaborate and help each
                        other to find solutions in their daily work.
                    </p>

                    <p class="card-text">
                        Here you search for the information you are looking for or ask your buddies for help with a
                        specific problem.
                    </p>

                    <p class="card-text">
                        Thanks to the rating possibilities, you will be able to easily find the best solution to your
                        problem.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}