{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid my-4">

    <div class="row">

        <div class="col-md-6 offset-md-3 pt-3">
            <div class="card card-body pb-0">

                <h3 class="mb-3">Edit Reply</h3>

                <!-- Edit Reply form -->
                <form method="POST" action="{% url 'edit_reply' reply.id %}">
                    {{ edit_form | crispy }}
                    {% csrf_token %}

                    <div class="text-center my-4">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>

{% endblock %}