{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if request.user == question.author %}

<div class="container-fluid my-4">

    <div class="row">

        <div class="col-md-6 offset-md-3 pt-3">
            <div class="card card-body pb-0">

                <h3 class="mb-3">Edit Question</h3>

                <!-- Edit Question form -->
                <form method="POST" action="{% url 'edit_question' question.id %}">
                    {{ edit_form | crispy }}
                    {% csrf_token %}

                    <div class="text-center my-4">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>

{% else %}

<div class="container-fluid my-4">

    <div class="row">

        <div class="col-md-6 offset-md-3 text-center pt-3">

            <h3 class="mb-3">Sorry buddy, you are not allowed to access this page.</h3>

        </div>

    </div>

</div>

{% endif %}

{% endblock %}