{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Render when user is authenticated -->
{% if user.is_authenticated %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">

                <form action="{% url 'ask_question' %}" method="GET" class="text-center mb-0">
                    {% csrf_token%}
                    <button type="submit" class="btn btn--main no-border">
                    Ask Question <i class="fas fa-plus p-1"></i></button>
                </form>

        </div>
    </div>
</div>
{% endif %}

<!-- Display all questions -->
<div class="container-fluid mt-4">

    {% for question in question_list %}
    <div class="row mb-3">

        <!-- Rating buttons and score for question -->
        <div class="col-2 col-md-1 offset-md-2 p-2 d-block-flex text-center">
            {% if user.is_authenticated %}
            <form action="{% url 'vote_question' question.id %}" method="POST">
                {% csrf_token%}
                <input type="hidden" name="location" value="home">
                {% if question.upvoted %}
                <button class="btn btn--voted btn--icon" name="vote_score" value=1 aria-label="Remove upvote from question"><i
                        class="fas fa-arrow-up"></i></button>
                {% else %}
                <button class="btn btn--secondary btn--icon" name="vote_score" value=1 aria-label="Upvote question"><i
                    class="fas fa-arrow-up"></i></button>
                {% endif %}
                <h4 class="votes my-1">{{ question.votes_score }}</h4>
                {% if question.downvoted %}
                <button class="btn btn--voted btn--icon" name="vote_score" value="-1" aria-label="Remove downvote from question"><i
                        class="fas fa-arrow-down"></i></button>
                {% else %}
                <button class="btn btn--secondary btn--icon" name="vote_score" value="-1" aria-label="Downvote question"><i
                    class="fas fa-arrow-down"></i></button>
                {% endif %}
            </form>
            {% else %}
            <h4 class="votes my-1">{{ question.votes_score }}</h4>
            <p class="my-1 text-center">votes</p>
            {% endif %}
        </div>

        <!-- Display question information-->
        <div class="col-10 col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{% url 'question_detail' question.slug %}" class="link-color-blue text-decoration-none">
                        <h5 class="card-title">{{ question.title }}</h5>
                    </a>
                    <p class="text-muted mb-0">by {{ question.author }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated on {{ question.last_updated }}</small>
                    <!-- Show Edit and Delete buttons on questions created by the user -->
                    {% if request.user == question.author %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn--main btn--icon mx-1" href="{% url 'edit_question' question.id %}"
                            aria-label="Edit question"><i class="fas fa-edit"></i></a>
                        <a class="btn btn--secondary btn--icon mx-1" href="{% url 'delete_question' question.id %}"
                            aria-label="Delete question"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

<!-- Site Pagination -->
{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}