{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid my-4">
    <div class="row">

        <!-- Rating buttons and score for question -->
        <div class="col-2 col-md-1 offset-md-2 p-2 d-block-flex text-center">
            {% if user.is_authenticated %}
            <form action="{% url 'vote_question' question.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="location" value="question_detail">
                {% if question.upvoted %}
                <button class="btn btn--voted btn--icon" name="vote_score" value=1 aria-label="Remove upvote from question"><i
                        class="fas fa-arrow-up"></i></button>
                {% else %}
                <button class="btn btn--secondary btn--icon" name="vote_score" value=1 aria-label="Upvote question"><i
                    class="fas fa-arrow-up"></i></button>
                {% endif %}
                <h4 class="votes my-1">{{ question.votes_score }}</h4>
                {% if question.downvoted %}
                <button class="btn btn--voted btn--icon" name="vote_score" value="-1" aria-label="Remove downvote from question"><i
                        class="fas fa-arrow-down"></i></button>
                {% else %}
                <button class="btn btn--secondary btn--icon" name="vote_score" value="-1" aria-label="Downvote question"><i
                    class="fas fa-arrow-down"></i></button>
                {% endif %}
            </form>
            {% else %}
            <h4 class="votes my-1">{{ question.votes_score }}</h4>
            <p class="my-1 text-center">votes</p>
            {% endif %}
        </div>

        <!-- Question -->
        <div class="col-10 col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{ question.title }}</h3>
                    <p class="text-muted">by {{ question.author }}</p>
                    <p class="card-text">{{ question.content | safe }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated on {{ question.last_updated }}</small>
                    <!-- Show Edit and Delete buttons on questions created by the user -->
                    {% if request.user == question.author %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn--main btn--icon mx-1" href="{% url 'edit_question' question.id %}"
                            aria-label="Edit question"><i class="fas fa-edit"></i></a>
                        <a class="btn btn--secondary btn--icon mx-1" href="{% url 'delete_question' question.id %}"
                            aria-label="Delete question"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Render when user is authenticated -->
{% if user.is_authenticated %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-12">

            <form action="{% url 'new_reply' question.id %}" method="GET" class="text-center m-0">
                {% csrf_token %}
                <button class="btn btn--main no-border" type="submit">
                    Leave Reply <i class="fas fa-plus p-1"></i></button>
            </form>

        </div>
    </div>
</div>
{% endif %}

<!-- Display reply list-->
<div class="container-fluid">

    {% for reply in replies %}
    <div class="row mb-3">

        <!-- Rating buttons and score for reply -->
        <div class="col-2 col-md-1 offset-md-2 p-2 d-block-flex text-center">
            {% if user.is_authenticated %}
            <form action="{% url 'vote_reply' reply.id %}" method="post">
                {% csrf_token %}
                {% if reply.upvoted %}
                <button class="btn btn--voted btn--icon" name="vote_score" value="1" aria-label="Remove upvote from reply"><i
                    class="fas fa-arrow-up"></i></button>
                {% else %}
                <button class="btn btn--secondary btn--icon" name="vote_score" value="1" aria-label="Upvote reply"><i
                    class="fas fa-arrow-up"></i></button>
                {% endif %}
                <h4 class="votes my-1">{{ reply.votes_score }}</h4>
                {% if reply.downvoted %}
                <button class="btn btn--voted btn--icon" name="vote_score" value="-1" aria-label="Remove downvote from reply"><i
                    class="fas fa-arrow-down"></i></button>
                {% else %}
                <button class="btn btn--secondary btn--icon" name="vote_score" value="-1" aria-label="Downvote reply"><i
                    class="fas fa-arrow-down"></i></button>
                {% endif %}
            </form>
            {% else %}
            <h4 class="votes my-1">{{ question.votes_score }}</h4>
            <p class="my-1 text-center">votes</p>
            {% endif %}
        </div>

        <!-- Display reply -->
        <div class="col-10 col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">{{ reply.body | safe }}</p>
                    <p class="text-muted mb-0">by {{ reply.author }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated on {{ reply.last_updated }}</small>
                    {% if request.user == reply.author %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn--main btn--icon mx-1" href="{% url 'edit_reply' reply.id %}"
                            aria-label="Edit question"><i class="fas fa-edit"></i></a>
                        <a class="btn btn--secondary btn--icon mx-1" href="{% url 'delete_reply' reply.id %}" aria-label="Delete question"><i
                                class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}