{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid my-4">

    <div class="row">

        <!-- Rating buttons and score for question -->
        <div class="col-2 col-md-1 offset-md-2 p-2 d-block-flex text-center">
            <button class="btn btn-secondary"><i class="fas fa-arrow-up"></i></button>
            <h4 class="votes my-1">{{ question.votes_score }}</h4>
            <button class="btn btn-secondary"><i class="fas fa-arrow-down"></i></button>
        </div>

        <!-- Question -->
        <div class="col-10 col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{ question.title }}</h3>
                    <p class="text-muted">by {{ question.author }}</p>
                    <p class="card-text">{{ question.content | safe }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated on {{ question.last_updated }}</small>
                    <!-- Show Edit and Delete buttons on questions created by the user -->
                    {% if request.user == question.author %}
                    <div>
                        <a class="btn btn-secondary" href="{% url 'edit_question' question.id %}">Edit</a>
                        <a class="btn btn-dark" href="{% url 'delete_question' question.id %}">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Render when user is authenticated -->
{% if user.is_authenticated %}
<div class="container-fluid mb-4">

    <div class="row">

        <div class="col-12">

            <p class="text-center m-0">
                <button class="btn btn-secondary no-border" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseQuestionForm" aria-expanded="false" aria-controls="collapseQuestionForm">
                    Leave Reply <i class="fas fa-plus p-1"></i></button>
            </p>

        </div>

        <div class="col-md-6 offset-md-3 mt-4 collapse" id="collapseQuestionForm">

            <div class="card card-body pb-0">

                <h3 class="mb-3">Leave a Reply</h3>

                <!-- Question form -->
                <form method="POST">
                    {{ reply_form | crispy }}
                    {% csrf_token %}

                    <div class="text-center my-4">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>
{% endif %}

<!-- Display reply list-->
<div class="container-fluid">

    {% for reply in replies %}
    <div class="row mb-3">

        <!-- Rating buttons and score for reply -->
        <div class="col-2 col-md-1 offset-md-2 p-2 d-block-flex text-center">
            <button class="btn btn-secondary"><i class="fas fa-arrow-up"></i></button>
            <h4 class="votes my-1">{{ question.votes_score }}</h4>
            <button class="btn btn-secondary"><i class="fas fa-arrow-down"></i></button>
        </div>

        <!-- Display reply -->
        <div class="col-10 col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">{{ reply.body | safe }}</p>
                    <p class="text-muted mb-0">by {{ reply.author }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated on {{ reply.last_updated }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}